@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
#top {
    text-align: center;
}
body { 
	background-image: url('img/bg.png'); 
	background-color:black
}
#logo {
    color: white;
    background-color: rgb(0, 110, 255);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logoname {
    font-size: 32px;
    font-weight: bold;
    margin:16px;
    color:white
    
    
    
}
#navigation a {
    color: rgb(217, 255, 0);
    padding: 8px;
    font-size: 20px;
}
#navigation a:hover {
    color: rgb(0, 255, 242);
}
#uem {
    color:white;
    font-size: 20pt;
    border: none;
    font-weight: bold;
}
#uem :hover {
    text-decoration:underline;
}
#error{
    font-size: 50px;
    color:white
}
#searchtext {
    text-align: center;
    color: white;
    font-size: 20px;
}
#button {
    text-align: center;
  }
.container{
  	width: 90%;
	  padding: 20px;
	  margin: 100px auto;	 
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
}
	

.box{
  	width: 250px;
  	margin: 0 10px;
  	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  	transition: 1s;

}
.box img{
  	display: block;
  	width:100%;
  	border-radius: 5px;
}
.box:hover{
	  transform: scale(1.3);
  	z-index: 2;
}